{% extends 'base.html' %}
{% block content %}
<h1>HomePage</h1>
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p>Proyectos guardados</p>
    {% for document in object_list %}
    <div class="geojson-entry">
        <h2>
            <a href="{% url 'lidar:geojson_detail' document.pk %}">{{ document.title }}</a>
        </h2>
    </div>
    {% endfor %}
    <p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock content %}